:root {
  --pink: #ffbcb5;
  --purple: #42106a;
  --background: #262322;
  --burgundy: #6a1057;
  --blue: #101a6a;
  --aqua: #48dcca;
}

/* Styles the Container of the headshot image */
.headshot-container {
  margin: 0 auto;
  padding: 3rem 4rem 0 4rem;
}

.carousel {
  position: relative;
  /* padding: 5rem 20rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  object-fit: contain;
  max-height: 80%;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 5px 10px 20px 5px #3e3e3d;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

/* Styles the Bootstrap Carousel holding Project Cards */

.carousel {
  width: 100%;
}

.carousel-indicators {
  bottom: 10rem;
}

.carousel-inner {
  padding: 5rem;
}

.carousel-item {
  padding: 5rem;
}

/* Styles the Social Media Icons */


/* Styles UI Project card front/back */

.project-card {
  margin: 6rem auto;
  height: 50rem;
  width: 40rem;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  /* rotateY is based on a variable that is set to 180deg onClick */
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  transition: transform 1s ease-in-out 0s; 
}

.cardFront,
.cardBack {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  position: absolute !important;
  /* left: 0;
  top: 0; */
  border-radius: 20px;
  /* overflow: hidden; */
  transform-style: preserve-3d;
  /* box-shadow: 2rem 2rem 2rem black; */
  background-color:white !important;
  border-radius: 20px;
}

.cardBack {
  transform: rotateY(180deg);
}

/* Adds flip animation onClick of "More Info ->" to flip to back */
.flip {
  transform: rotateY(180deg);
  /* Variable to apply transformation on card when flipped */
  --rotate-y: 180deg;
}

/* Styles text on front of project card */
.frontText {
  color: black;
}

/* Styles Purple Button with "More Info ->" */
.flipButton {
  width: 10rem;
  height: 2rem;
  background-color: var(--purple);
  opacity: 0.7;
  border: 2px solid var(--purple);
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition-property: background, width, box-shadow, letter-spacing;
  transition-duration: 100ms;
}

.flipButton:hover {
  background: var(--purple);
  opacity: 1;
  width: 11rem;
  box-shadow: 0.6rem 0.6rem 0.8rem black;
  letter-spacing: 1.5px;
}




/* CONTACT FORM/CARD */

/* Styles Contact area container */
.contact {
  box-shadow: 1rem 1rem 1rem black !important;
  background-color: white !important;
  border-radius: 2rem !important;
  width: 75% !important;
}

.contact-card-white, .contact-card-purple {
  width: 50%;
  z-index: 10;
}

.contact-card-purple {
  border-radius: 2rem 0 0 2rem;
}

.contact-card-white {
  border-radius: 0 2rem 2rem 0;
}

/* Styles the Purple half of the Contact Form */
.contact-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2rem 0 0 2rem;
  flex-direction: column;
  height: 40rem;
}

/* Styles the Contact Icon in Contact Section */
.contact-icon {
  background-color: white;
  width: 2.5rem;
  height: 3rem;
  margin-left: 0.3rem;
}

/* Style Contact Form Labels */
.form-label {
  color: black;
  margin-top: 0.5rem;
  opacity: 0.6;
}

.form-label span {
  background-color: var(--purple);
  color: white;
}

.form-input {
  width: 80%;
  height: 2rem;
  border: 0;
  outline: 0;
  background-color: var(--purple);
  cursor: pointer;
  border-bottom: 1.5px solid white;
  margin-bottom: 0.5rem;
}

.email-body {
  width: 80%;
  height: 13rem;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--purple);
  border: 0;
  outline: 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-bottom: 1.5px solid white;
}

/* Contact Info */
.contact-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0 2rem 2rem 0;
  height: 40rem;
}

/* Styles the Container that holds the Contact animation (The guy with the headset on) */
.contact-pic-container {
  height: 11rem;
  width: 14rem;
}

/* Styles the Contact Animation Picture (The guy with the headset on) */
.contact-picture {
  object-fit: fill;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Styles Icons in the Contact List (White half of the Contact form) */
.contact-list-icon {
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
}




/* RESPONSIVE DESIGN */

@media (max-width: 1500px) {
  .headshot-container {
    padding: 3rem 1rem 0 1rem;
  }

  .carousel-inner {
    padding: 0;
  }

  .carousel-item {
    padding: 0;
  }

  .carousel-indicators {
    bottom: 1rem;
  }

  .project-card {
    height: 45rem;
    width: 35rem;
  }
}

@media (max-width: 1024px) {
  .headshot-container {
    padding: 3rem 0 0 0;
  }

  .flipButton {
    margin-top: 0.5rem;
  }

  
}

@media (max-width: 768px) {
  .media-icons {
    font-size: 1.4rem;
  }

  .flipButton {
    width: 8rem;
    height: 1.8rem;
    font-size: 0.9rem;
  }

  .flipButton:hover {
    width: 9rem;
    letter-spacing: 1.3px;
    box-shadow: 0.4rem 0.4rem 0.8rem black;
  }

  .contact {
    flex-direction: row;
  }

  .carousel-inner {
    padding: 0;
  }

  .carousel-item {
    padding: 0;
  }

  .carousel-indicators {
    bottom: 1rem;
  }

  .project-card {
    height: 40rem;
    width: 30rem;
  }

}

@media (max-width: 590px) {
  .frontText {
    display: none;
    margin-top: 2rem;
  }

  .contact {
    flex-direction: column;
    width: 75% !important;
  }

  .contact-card-purple {
    border-radius: 2rem 2rem 0 0;
    background-color: var(--purple);
    width: 100% !important;
  }

  .contact-card-white {
    border-radius: 0 0 2rem 2rem;
    background-color: white;
    width: 100% !important;
  }


  .contact-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 2rem 2rem 0 0 !important;
    flex-direction: column;
    padding: 1rem !important;
    height: 35rem;
  }

  .contact-info {
    height: 35rem;
  }

  .form-input {
    width: 80%;
  }

  .email-body {
    width: 80%;
  }

  .contact-info {
    border-radius: 0 0 2rem 2rem !important;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    align-items: center;
    padding: 1rem !important;
  }

  .contact-pic-container {
    text-align: center;
  }

  .carousel-inner {
    padding: 0;
  }

  .carousel-item {
    padding: 0;
  }

  .carousel-indicators {
    bottom: 1rem;
  }

  .project-card {
    height: 35rem;
    width: 25rem;
  }
  
}

@media (max-width: 500px) {
  .headshot-container {
    padding: 3rem 0 0 0;
  }

  .frontText {
    display: none;
    margin-top: 2rem;
  }

  .carousel-inner {
    padding: 0;
  }

  .carousel-item {
    padding: 0;
  }

  .carousel-indicators {
    bottom: 1rem;
  }

  .project-card {
    height: 25rem;
    width: 15rem;
  }

  .contact-pic-container {
    height: 9rem;
    width: 12rem;
  }

}

@media (max-width: 280px) {

  .contact-pic-container {
    height: 9rem;
    width: 12rem;
  }

  .contact {
    width: 90% !important;
  }

  .contact-icon {
    background-color: white;
    width: 2rem;
    height: 2rem;
    margin-left: 0.3rem;
  }

  .contact-list-icon {
    background-color: white;
    width: 2rem;
    height: 2rem;
  }

}
