:root {
  --pink: #ffbcb5;
  --purple: #42106a;
  --background: #262322;
  --burgundy: #6A1057;
  --blue: #101A6A;
}

/* Styles the Container of the headshot image */
.headshot-container {
  margin: 0 auto;
  padding: 3rem 4rem 0 4rem;
}

.carousel {
  position: relative;
  /* padding: 5rem 20rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  object-fit: contain;
  max-height: 80%;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 5px 10px 20px 5px #3e3e3d;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

/* Adds button fill animation onHover of "Lets Chat" button */

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s ease;
  transform: scale(1.08);
}

/* Styles the Social Media Icons */
.media-icons {
  font-size: 1.8rem;
}

/* Styles UI Project card front */
.cardFront {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  border-radius: 20px;
}

.frontText {
  color: black;
}

/* Adds flip animation onClick of "More Info ->" */
.flipFront {
  transform: rotateY(180deg);
  /* Variable to apply transformation on card when flipped */
  --rotate-y: 180deg;
}

/* Styles Purple Button with "More Info ->" */
.flipButton {
  width: 10rem;
  height: 2rem;
  background-color: var(--purple);
  opacity: 0.7;
  border: 2px solid var(--purple);
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition-property: background, width, box-shadow, letter-spacing;
  transition-duration: 100ms;
}

.flipButton:hover {
  background: var(--purple);
  opacity: 1;
  width: 11rem;
  box-shadow: 0.6rem 0.6rem 0.8rem black;
  letter-spacing: 1.5px;
}

/* Styles the Contact Icon in Contact Section */
.contact-image {
  background-color: white;
  width: 4rem;
  height: 9rem;
}

/* Styles the Input boxes in the Contact Form */
.email-address {
  width: 50%;
  height: 2rem;
  background-color: rgba(132, 153, 177, 0.2);
  cursor: pointer;
  border: 0.5px solid black;
  margin-top: 0.8rem;
}

.email-address::placeholder {
  color: black;
  font-size: 1rem;
  padding-left: 1rem;
}

.email-body {
  width: 50%;
  height: 14rem;
  cursor: pointer;
  text-align: left;
  margin-top: 2rem;
  background-color: rgba(132, 153, 177, 0.2);
  border: 0.5px solid black;
}

.email-body::placeholder {
  color: black;
  font-size: 1rem;
  padding-left: 1rem;
}

/* Responsive Design */
@media (max-width: 1500px) {
  .headshot-container {
    padding: 3rem 1rem 0 1rem;
  }
}

@media (max-width: 1024px) {
  .headshot-container {
    padding: 3rem 0 0 0;
  }

  .flipButton {
    margin-top: 0.5rem;
  }
}

@media (max-width: 768px) {
  .media-icons {
    font-size: 1.4rem;
  }

  .flipButton {
    width: 8rem;
    height: 1.8rem;
    font-size: 0.9rem;
  }

  .flipButton:hover {
    width: 9rem;
    letter-spacing: 1.3px;
    box-shadow: 0.4rem 0.4rem 0.8rem black;
  }
}

@media (max-width: 590px) {
  .frontText {
    display: none;
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
  .headshot-container {
    padding: 3rem 0 0 0;
  }

  .frontText {
    display: none;
    margin-top: 2rem;
  }
}
